h1 {
    font-size: 50px;
    background-color: crimson;
}

h2 {
    font-size: 35px;
    font-weight: 600;
}

p {
    font-size: 25px;
    font-weight: 500;
    color: crimson;
    background-color: #000;
}